@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.rolex-slogan {
  text-transform: uppercase;
  font-weight: 700;
  color: black;
  background-color: honeydew;
}
.explore-button {
  width: 140px;
  height: 35px;
  border: none;
}
.explore-button:hover {
  border: 1px solid gold;
  background-color: orange;
}
.products {
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: bold;
}

.about-text {
  text-align: justify;
  text-justify: initial;
  padding-top: 6rem;
}
.about-img {
  margin-left: 50px;
}
.bg {
  background-image: url(./images/bg.jpg);
  background-size: cover;
}
/* contct form */
